<ion-view title="Supercomics">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h1>Cargando datos</h1>
            </div>
            <div class="item item-text-wrap">
                Organizando los comics y las colecciones.<br>
                Sólo la primera vez
            </div>
            <div class="item item-divider">
                SuperComics
            </div>
        </div>
        <div class="card">
            <div class="item item-body" align="center">
                <img src="img/icon.png">
            </div>
        </div>
    </ion-content>
</ion-view>