<ion-view title="SuperComics">
  <ion-content class="padding" has-header="true" style="background: #000000">
      <div class="list card">
          <div class="item item-avatar">
              <img src="img/supermio.png">
              <h2>Supermio</h2>
              <p>Tecnologías para la vida real</p>
          </div>
          <div class="item item-body">
              <div class="row">
                  <div class="col">
                      <img align="center" src="img/icon.png">
                  </div>
                  <div class="col">
                      <ul>
                          <li>Comics recién publicados.</li>
                          <li>Busca cuál te falta en tu colección.</li>
                          <li>Actualización automática.</li>
                          <li>Puede trabajar sin red. Consumo de datos mínimo.</li>
                          <li><b>Cómics solamente. TPBs no se incluyen.</b></li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <a href="mailto:supercomics@supermio.com.pe">supercomics@supermio.com.pe</a>
              </div>
              <div class="row">
                  <p>Disponible en: </p>
                  <p>Android,iOS y WP8</p>
              </div>
              <div class="row">
                  <p>Otras plataformas en camino</p>
              </div>
          </div>
          <div class="item tabs tabs-secondary"></div>
      </div>
    <p>

    </p>
  </ion-content>
</ion-view>
