<ion-view title="Ultimos publicados" nav-clear="true" cache-view="true">
  <ion-content header-shrink has-header="true" style="background-color:#A4A4A4">
      <!--div class="list" style="background-color:#A4A4A4" -->
      <ion-list>
          <ion-item ng-repeat="comic in comics"
                    style="background-color:#A4A4A4;margin-top:0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;">
              <div class ="card" style="margin-top:3px;margin-bottom: 3px;padding-top: 0px;padding-bottom: 0px;">
                  <div class="item item-avatar">
                      <img ng-src="{{comic.doc.tipo}}">
                      <h2>{{comic.doc.name}}</h2>
                      <p>Publicación: {{comic.key[0]}}</p>
                  </div>
                  <div class="item item-thumbnail-left item-icon-right"
                       ng-click="setLink(comic.doc.cats[0].cat,comic.doc._id,comic.id)">
                      <img class="full-image" ng-src='{{ comic.key[5] }}'>
                      <p><b>Desc:</b> {{comic.key[1]}}</p>
                      <p><b>Notas:</b> {{comic.key[2]}}</p>
                      <p><b>Número:</b> {{comic.key[3]}} de {{comic.doc.numeros}}</p>
                      <p><b>Precio:</b> {{comic.key[4]}} soles</p>
                      <i class="icon ion-chevron-right"></i>
                  </div>
              </div>
          </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
